Repository zyantific/zydis, pull requests merged in 2022-05, with the labels that each got.

#332 Encoder: make all internal functions `static`
  src/Encoder.c
Labels: C-enhancement, P-medium, A-encoder

#334 Encoder: improve `ZydisArePrefixesCompatible` perf
  src/Encoder.c
Labels: C-enhancement, A-encoder

#337 Avoid passing variable size to memcpy to prevent external call
  src/Encoder.c
Labels: C-enhancement, P-medium, A-encoder

#339 Encoder: consistent constant naming
  include/Zydis/Encoder.h
Labels: C-cleanup, P-low, A-encoder

#338 Extend porting guide
  assets/porting-guide-v3-v4.md
Labels: C-enhancement, A-doc
